/* Сброс отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стиль для всей страницы */
body {
    font-family: 'Arial', sans-serif;
    background: #1a1a2e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Контейнер банкомата */
.atm-container {
    width: 90vw;
    height: 85vh;
    max-width: 1200px;
    background: #2c3e50;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

/* Экран банкомата */
.atm-screen {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;  /* ← белый фон */
}

/* Общие стили для кнопок */
.atm-button {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    padding: 25px 35px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #1976D2;
    color: white;
    min-width: 280px;
    /* width: 220px; */
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
}

.top-left, .top-right, .bottom-left, .bottom-right,
.supervisor-shutdown, .supervisor-service,
.supervisor-openclose, .supervisor-devices, .supervisor-nottoservice, .opencloseday-recycler, 
.opencloseday-backtosupervisor, .opencloseday-backtonormal, .opencloseday-extraoperation, .recyclerday-openday,
.recyclerday-closeday, .recyclerday-printbalance, .recyclerday-previous,
 .recyclerday-backtonormal, .recyclerday-intermediateresult, .closeday, .reset-btn, .enter-btn, .cancel-btn
 {
    width: 450px;
    height: 130px;
}

.atm-button:hover {
    transform: scale(1.02);
    filter: brightness(1.05);
}

/* Кнопка выхода */
.exit-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #07f068;
    color: white;
    padding: 12px, 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    font-weight: bold;
}

.atm-button.exit:hover {
    background-color: #117a3d;
}

/* Стиль для заголовков экранов */
.screen-title {
    position: absolute;
    /* top: 10px; */
    /* left: 50%; */
    top: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    /* transform: translate(-50%); */
    background-color: #1976D2;
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-bottom: 3px solid white;  /* белая рамка снизу */
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========== ПОЗИЦИОНИРОВАНИЕ ДЛЯ ГЛАВНОГО МЕНЮ ========== */
.top-left {
    top: 200px;
    left: 5px;
}

.top-right {
    top: 200px;
    right: 5px;
}

/* .bottom-left {
    bottom: 80px;
    left: 80px;
} */

.bottom-right {
    bottom: 5px;
    right: 5px;
}

/* ========== ПОЗИЦИОНИРОВАНИЕ ДЛЯ МЕНЮ ОПЕРАТОРА ========== */
.supervisor-shutdown {
    top: 680px;
    left: 5px;
    background-color: #1976D2;
}

.supervisor-service {
    top: 200px;
    right: 5px;
    background-color: #1976D2;
}

.supervisor-openclose {
    top: 350px;
    left: 5px;
    /* transform: translateY(-50%); */
    background-color: #1976D2;
}

.supervisor-devices {
    top: 350px;
    right: 5px;
    /* transform: translateY(-50%); */
    background-color: #1976D2;
}

.supervisor-nottoservice {
    top: 200px;
    left: 5px;
    background-color: #1976D2; 
}

/* ========== ПОЗИЦИОНИРОВАНИЕ ДЛЯ ЭКРАНА "ОТКРЫТИЕ\ЗАКРЫТИЕ ОПЕРАЦИОННОГО ДНЯ" ========== */

.opencloseday-recycler {
    top: 520px;
    left: 5px;
    background-color: #1976D2;
}

.opencloseday-backtosupervisor {
    top: 250px;
    right: 5px;
    background-color: #1976D2;
}

.opencloseday-backtonormal {
    top: 390px;
    right: 5px;
    background-color: #1976D2;
}

.opencloseday-extraoperation {
    top: 680px;
    right: 5px;
    background-color: #1976D2;
}

/* ========== ПОЗИЦИОНИРОВАНИЕ ДЛЯ ЭКРАНА "ОПЕРАЦИОННЫЙ ДЕНЬ РЕСАЙКЛКЛЕРА" ========== */
.recyclerday-openday {
    top: 540px;
    left: 5px;
    background-color: #1976D2;
}
.recyclerday-closeday {
    top: 680px;
    left: 5px;
    background-color: #1976D2;
}
.recyclerday-printbalance {
    top: 250px;
    left: 5px;
    background-color: #1976D2;
}
.recyclerday-previous {
    top: 250px;
    right: 5px;
    background-color: #1976D2;
}
.recyclerday-backtonormal {
    top: 390px;
    right: 5px;
    background-color: #1976D2;
}
.recyclerday-intermediateresult {
    top: 680px;
    right: 5px;
    background-color: #1976D2;
}

/* ========== ПОЗИЦИОНИРОВАНИЕ ДЛЯ ЭКРАНА "ЗАКРЫТИЕ ОПЕРАЦИОННОГО ДНЯ" ========== */
.closeday {
    top: 680px;
    right: 5px;
    background-color: #1976D2;
}

/* ========== ПОЗИЦИОНИРОВАНИЕ ДЛЯ ЭКРАНОВ ЗАГРУЗКИ КАССЕТ ========== */
.cancel-btn {
    top: 250px;
    right: 5px;
}

.reset-btn {
    top: 400px;
    right: 5px;
}

.enter-btn {
    top: 670px;
    right: 5px;
}

/* Адаптация для маленьких экранов */
@media (max-width: 768px) {
    .atm-button {
        font-size: 14px;
        width: 160px;
        padding: 10px 15px;
    }
    
    .top-left, .top-right, .bottom-left, .bottom-right,
.supervisor-shutdown, .supervisor-service,
.supervisor-openclose, .supervisor-devices, .supervisor-nottoservice, .opencloseday-recycler, 
.opencloseday-backtosupervisor, .opencloseday-backtonormal, .opencloseday-extraoperation, .recyclerday-openday,
.recyclerday-closeday, .recyclerday-printbalance, .recyclerday-previous,
 .recyclerday-backtonormal, .recyclerday-intermediateresult, .closeday {
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
    }
    
    .supervisor-openclose, .supervisor-devices {
        top: 50%;
        transform: translateY(-50%);
    }
}

