/* Сброс отступов - убираем стандартные отступы браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Стиль для всей страницы - на весь экран */
body {
    font-family: 'Arial', sans-serif;
    background: #1a1a2e;
    min-height: 100vh;          /* 100% высоты окна */
    display: flex;               /* flexbox для центрирования */
    justify-content: center;     /* центрируем по горизонтали */
    align-items: center;         /* центрируем по вертикали */
    padding: 20px;
}

/* Контейнер экрана банкомата - основная рамка */
.atm-container {
    width: 90vw;
    height: 85vh;
    max-width: 1200px;           /* максимальная ширина */
    background: #faf9f8;         /* темно-синий фон рамки */
    border-radius: 20px;         /* скругленные углы */
    overflow: hidden;
}
/* Экран банкомата - здесь будут кнопки */
.screen {
    position: relative;          /* для позиционирования кнопок внутри */
    width: 100%;
    height: 100%;                /* 80% от высоты окна */
    /* min-height: 500px;           минимальная высота */
    background: white;           /* белый фон экрана */
}
/* Общий стиль для кнопок */
.atm-button {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 90px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #5856f0;
    color: #f8f9fa;
    width: 500px;
    text-align: center;
}

/* Эффект при наведении на кнопку */
.atm-button:hover {
    transform: scale(1.02);      /* увеличиваем на 5% */
    /* background-color: #45a049;   /* темнее зеленый */
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
    filter: brightness(1.05);
}

/* Кнопка Выход */
.atm-button.exit {
    background-color: #5856f0;
}

.atm-button:hover {
    transform: scale(1.02);      /* увеличиваем на 5% */
    /* background-color: #45a049;   /* темнее зеленый */
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
    filter: brightness(1.05);
}

/* Позиционирование кнопок */
/* Левая верхняя */
.top-left {
    top: 150px;
    left: 337px;
}

/* Правая верхняя */
.top-right {
    top: 150px;
    right: 337px;
}

/* Правая нижняя */
.bottom-right {
    bottom: 150px;
    right: 337px;
}

/* Левая нижняя - выход*/
.bottom-left {
    bottom: 150px;
    left: 337px;
}
 
/* Адаптация для маленьких экранов */
@media (max-width: 768px) {
    .atm-button {
        font-size: 16px;
        width: 200px;
        padding: 12px 20px;
    }
    .top-left, .top-right, .bottom-left, .bottom-right {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }
}

